<div>
  <button type="button" (click)="exchangeAccessToken()">
    Exchange Access Token
  </button>
</div>

<h2>Access Token</h2>
<ng-container *ngIf="accessToken() as accessToken; else loading">
  <pre>{{ accessToken | json }}</pre>
</ng-container>
<div *ngIf="errorAccessTokenMessage() as errorMessage">
  <b class="cl-warn">AccessToken:</b>
  <code>{{ errorMessage }}</code>
</div>

<h2>ID Token</h2>
<ng-container *ngIf="idToken() as idToken; else loading">
  <h3>Header</h3>
  <pre>{{ idToken.header | json }}</pre>
  <h3>Payload</h3>
  <pre>{{ idToken.payload | json }}</pre>
  <h3>Token</h3>
  <pre>{{ idToken.token }}</pre>
  <h3>Signed Content</h3>
  <pre>{{ idToken.content }}</pre>
  <h3>Signature</h3>
  <pre>{{ idToken.signature }}</pre>
  <h3>Verified</h3>
  <pre>{{ idTokenVerified() }}</pre>
</ng-container>
<div *ngIf="errorIdTokenMessage() as errorMessage">
  <b class="cl-warn">IdToken:</b>
  <code>{{ errorMessage }}</code>
</div>

<ng-template #loading>
  <div>loading...</div>
</ng-template>
